# SPDX-FileCopyrightText: 2017-2025 GodoFredo <hello@godofredo.ninja>
# SPDX-FileCopyrightText: 2025 Pavel Dimov <@sagat79>
# SPDX-License-Identifier: GPL-3.0-or-later

# editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.hbs]
indent_size = 4
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false
