# SPDX-FileCopyrightText: 2017-2025 GodoFredo <hello@godofredo.ninja>
# SPDX-FileCopyrightText: 2025 Pavel Dimov <@sagat79>
# SPDX-License-Identifier: GPL-3.0-or-later

b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.swp
*.html
*.map
*.vscode


pids
logs
results

npm-debug.log
node_modules
package-lock.json

.idea/*
*.iml
projectFilesBackup

.DS_Store

dist/

config.json
changelog.md
changelog.md.bk

.sass-lint.yml
.cache-loader
yarn-error.log
yarn.lock

.env
